<launch>
  <arg name="manager" default="manager" />
  <arg name="show" default="false" />
  <arg name="image_topic" default="/pg_17591763/image_raw" />
  <arg name="cam_file" default="$(find swarm_detector)/config/ptgrey_17591763_camera_calib.yaml" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="SwarmDetector" args="load swarm_detector_pkg/SwarmDetector /$(arg manager)" output="screen">
    <remap from="~image_raw" to="$(arg image_topic)"/>
    <remap from="~odom" to="no_odom_now"/>
    <remap from="~imu" to="/dji_sdk_1/dji_sdk/imu"/>

    <param name="cam_file" type="string" value="$(arg cam_file)" />
    <param name="weights" type="string" value="$(find swarm_detector)/config/drone_yolov3-tiny.weights" />
    <param name="darknet_cfg" type="string" value="$(find swarm_detector)/config/drone_yolov3-tiny.cfg" />
    <param name="show" type="bool" value="$(arg show)" />
    <rosparam>
      thres: 0.2
      overlap_thres: 0.6
      fov: 235
      width: 512
      show_width: 1920
      detect_duration: 1.0
      p_track: 0.98
      min_p: 0.1
      drone_scale: 0.6
      acpt_direction_thres: 10
      acpt_inv_dep_thres: 15
    </rosparam>
  </node>
</launch>