<launch>
  <arg name="device" default="0"/>
  <arg name="manager" default="manager" />
  <arg name="show" default="false" />
  <arg name="config_file" default="$(env HOME)/bags/swarm_local_2020_12/Configs/SwarmConfig1/fisheye_ptgrey_n3/up.yaml"/>
  <arg name="output" default="screen" />
  <arg name="pub_image" default="false" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="$(arg output)" />
  <node pkg="nodelet" type="nodelet" name="SwarmDetector" args="load swarm_detector_pkg/SwarmDetector /$(arg manager)" output="$(arg output)">
    <remap from="~image_raw" to="/stereo/left/image_raw"/>
    <remap from="~image_comp" to="/stereo/left/image_compressed"/>
    <remap from="~image_front" to="/flattener/fuck"/>
    <remap from="~odom" to="no_odom_now"/>
    <remap from="~imu" to="/dji_sdk_1/dji_sdk/imu"/>
    <remap from="~vins_flattened" to="/vins_estimator/flattened_raw"/>
    <remap from="~swarm_fused_relative" to="/swarm_drones/swarm_drone_fused_relative" />

    <param name="cam_file" type="string" value="$(arg config_file)" />
    <param name="weights" type="string" value="$(find swarm_detector)/config/yolov4-tiny-drone.weights" />
    <param name="darknet_cfg" type="string" value="$(find swarm_detector)/config/yolov4-tiny-drone.cfg" />
    <param name="show" type="bool" value="$(arg show)" />
    <param name="pub_image" type="bool" value="$(arg pub_image)" />
    <rosparam>
      thres: 0.6
      overlap_thres: 0.1
      fov: 235
      show_width: 800
      p_track: 0.98
      min_p: 0.1
      drone_scale: 0.48
      acpt_direction_thres: 2.0
      acpt_inv_dep_thres: 0.8
      pub_track_result: false
      pub_anonymous: false
      use_tensorrt: true
      enable_rear: true
      tensorrt_fp16: true
      width: 600
      cg: 
        x: 0.0289
        y: 0.0
        z: 0.01
    </rosparam>
  </node>
</launch>
